<div class="container">
  <div class="  ">
      <h1>Team Generator</h1>
       <ul  class="list">
         
         <li>Laith Harb</li>
         <li>Vincent Gathor</li>
         <li>Laith Harb</li>
       
       </ul>
       <div class="add-members-container">
        <input #addMemberInput type="text" (input)="onInput(addMemberInput.value)" placeholder="Name">
        <button  (click)="addMember()">Add</button>
       </div>
     <div class="input-container">
        <input type="text" placeholder=" number of teams"/>
        <button>Generate</button>
      </div>
  </div>
</div> 